:root {
    --font1: "libre-caslon-text", sans-serif;
    --font2: "figtree", sans-serif;
}

.join_container{
    width: 957px;
    height: 520px;
    border: solid 1px #000;
    border-radius: 12px;
    position: relative;
}

.close-btn{
    position: absolute;
    right: 24px;
    top: 22px;
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255,152,133,0.40);
    border-radius: 8px;
    padding: 0 16px;
    background-color: #fff;
    width: 400px;
    height: 64px;
    margin-top: 20px;
    font-family: var(--font2);
}

.input-container input {
    border: none;
    outline: none;
    font-size: 24px;
    padding: 8px 10px 0;
    font-weight: 100;
    font-family: var(--font2);
    height: 32px;
    width: 287px;
}

.input-container input::placeholder {
    opacity: 30%;
}

.input-container .country-code {
    font-size: 24px;
    height: 32px;
    width: 37px;
}

.input-container .send-button {
    background: none;
    border: none;
    cursor: pointer;
}

.right_section{
    height: 520px;
    width: 570px;
    padding-left: 24px;
    padding-top: 21px;
    position: relative;
}

.right_section h3{
    font-family: var(--font2);
    font-size: 16px;
    font-weight: 600;
}

.right_section h2{
    font-family: var(--font1);
    font-size: 32px;
    margin-top: 40px;
    line-height: 115%;
}

.right_section p{
    font-size: 14px;
    padding-top: 12px;
    font-family: var(--font2);
    color: #2D2F3C;
}

.cont_btn{
    background-color: #E57283;
    padding: 12px 16px;
    border-radius: 7px;
    color: white;
    position: absolute;
    bottom: 24px;
    font-size: 14px;
}

@media screen and (max-width: 1200px){
    .join_container{
        width: 366px;
        display: block;
        position: relative;
        margin: 0 auto;
        border: none;
    }

    .close-btn{
        display: none;
    }

    .right_section{
        width: 366px;
        margin: 0 auto;
        padding: 20px 12px;
    }

    .right_section h3{
        font-size: 16px;
    }

    .right_section h2{
        font-size: 32px;
    }

    .left_section{
        height: fit-content;
        width: 366px;
        margin: 0 auto;
    }
    
    .input-container {
        width: 342px;
        height: 46px;
        align-items: center;
        font-family: var(--font2);
    }

    .input-container input{
        color: #333;
        background: none;
        padding: 0 12px;
        font-size: 16px;
    }

    .input-container .country-code {
        font-size: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .send-button{
        display: none;
    }

    .right_section p{
        font-size: 14px;
    }

    .cont_btn{
        padding: 12px 16px;
        display: flex;
        justify-content: center;
        color: white;
        position: absolute;
        bottom: 34px;
        width: 342px;
    }
}