:root {
    --font1: "libre-caslon-text", sans-serif;
    --font2: "figtree", sans-serif;
}

.top_page{
    width: 100%;
    background: linear-gradient(to top, rgba(243,234,234,1), rgba(243,234,234,0.35));
    overflow-x: hidden;
}

.home_page{
    width: 1440px;
    margin: 0 auto;
}

.join_waitlist_btn{
    background-color: #EFEEF3;
    font-size: 16px;
    font-family: var(--font2);
    font-weight: 400;
    font-style: normal;
    padding: 12px 16px;
    border-radius: 6px;
    width: 145px;
}

.nav_links a{
    opacity: 70%;
    font-family: var(--font2);
    font-weight: 400;
    font-style: normal;
}

.hero_section_wrapper{
    background: linear-gradient(to bottom, rgba(251, 210, 190, 0) 12%, rgba(251, 210, 190, 0.5) 59%, rgba(250, 221, 189, 0.5) 100%);
    background-color: #f1eff3;
    width: 1200px;
    /* padding-bottom: 2vh; */
    border-radius: 12px;
    margin: 0 auto;
}

.hero_section{
    width: 100%;
    height: 650px;
    padding: 0 80px;
    margin: 0 auto;
    margin-top: 32px;
    background-image: url("../app/assets/hero_sect_bg.png"), url("../app/assets/hero_sect_blur.png"),  url("../app/assets/hero_sect_blur2.png"), url("../app/assets/Rectangle1.png");
    background-position:left;
    border-radius: 12px;
    background-blend-mode:soft-light;
    background-repeat: no-repeat;
    background-size:auto, auto, auto, 465px;
    background-position: 0 0, 0 0, 0 0, center bottom;
}

.hero_phone{
    height: 948px;
    width: auto;
    margin-top: -26px;
}

.hero_text{
    padding-top: 96px;
}

.hero_text h4{
    font-family: var(--font2);
    font-size: 14px;
}

.hero_text h2{
    padding-top: 18px;
    font-family: var(--font1);
    font-size: 48px;
    line-height: 96%;
}

.hero_text h5{
    font-family: var(--font2);
    padding-top: 16px;
    font-size: 16px;
    line-height: 135%;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgba(255,152,133,0.4);
    border-radius: 8px;
    padding: 10px 16px;
    background-color: #fff;
    width: 480px;
    margin-top: 24px;
    margin-left: -8px;
    height: 64px;
    font-size: 24px;
    font-family: var(--font2);
}

.input-container input {
    border: none;
    outline: none;
    flex: 1;
    font-family: var(--font2);
    font-size: 24px;
    background: none;
    height: 64px;
}

.input-container input::placeholder {
    color: #ccc;
    font-size: 24px !important;
}

.input-container .country-code {
    font-size: 24px;
    color: #332D3C;
    margin-right: 10px;
}

.input-container .send-button {
    background: none;
    border: none;
    cursor: pointer;
}

.input-container a{
    width: 24px;
    height: 24px;
}

.input-container .send-button img{
    width: 24px;
    height: 24px;
}

.hero_text h6{
    font-family: var(--font2);
    padding-top: 12px;
    font-size: 14px;
}

.hero_text p{
    font-family: var(--font2);
    padding-top: 66px;
    font-size: 14px;
    color: #888;
}

.scroll_div{
    height: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: -28px auto 0;
    background-color: #fff;
    padding: 22px 24px;
}

.details{
    margin: 0 auto;
    width: 1416px;
    padding-bottom: 144px;
    background-color: transparent;
    background-image: url("../app//assets/Intersect.png");
    background-size: 100% auto;
    background-position: center top;
}

.details h3{
    padding-top: 160px;
    font-family: var(--font1);
    font-size: 48px;
    line-height: 115%;
    text-align: center;
}

.details_container{
    margin: 40px 220px 0;
    gap: 16px;
}

.details_left{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 480px;
}

.details_box{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    height: 136px;
}

.details_box h6{
    padding-top: 12px;
    font-size: 20px;
    font-weight: 700;
}

.details_box p{
    font-size: 20px;
}

.details_box img{
    width: 24px;
}

.details_right{
    width: 480px;
    padding: 0 40px;
}

.details_right img{
    width: 400px;
    aspect-ratio: 1;
}

.carousel{
    /* background-size: contain; */
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 850px;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    background-size: contain;
    background-image: url("./assets/dots.png"), linear-gradient(to right, transparent 80%, rgba(255, 255, 255, 0.751));
    background-blend-mode: color-burn;
}

.hear_cust{
    margin-left: 182px;
    font-family: var(--font2);
    font-size: 16px;
    color: #332D3C;
    margin-right: 52px;
    width: 228px;
}

.notes{
    height: 830px;
    background-color: white;
    border-radius: 10px;
    width: 1416px;
}

.footer{
    padding-top: 120px;
    font-family: var(--font2);
}

.footer_features{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.footer_features img{
    width: 24px;
    margin: 16px auto;
}

.footer_features h3{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--font2);
}

.footer_features p{
    text-align: center;
    font-size: 14px;
    font-family: var(--font2);
}

.footer_final{
    width: 1200px;
    height: 480px;
    margin: 120px auto 0;
    padding: 64px 64px 0 64px;
    background-color: #14141a;
    color: #e8ddd3;
    text-align: start;
    border-radius: 16px;
    background-image: url("../app//assets/footer_blur.svg"), url("../app//assets/footer_text.svg");
    background-position: center bottom, center bottom;
    background-repeat: no-repeat, no-repeat;
}

.footer_join h3{
    font-family: var(--font1);
    font-size: 36px;
    width: 450px;
    font-weight: 100;
    line-height: 40px;
}

#in_join_btn_lower{
    width: 560px;
    height: 48px;
}

#in_join_btn_lower span{
    display: none;
}

#in_join_btn_lower button{
    width: 160px;
    font-size: 24px;
    align-items: center;
}

#in_join_btn_lower button img{
    padding-bottom: 5px;
}

#in_join_btn_lower input{
    background-color: transparent;
    outline: none;
    width: 393px;
    height: 32px;
    font-size: 24px;
    font-weight: 10;
    font-family: var(--font2);
}

#in_join_btn_lower input::placeholder{
    opacity: 30%;
}

.footer_join input:focus{
    outline: none;
    box-shadow: none;
}

.footer_contacts{
    display: flex;
    flex-direction: row;
}

.footer_contacts h6{
    font-size: 12px;
    height: 12px;
    opacity: 70%;
}

.footer_contacts a{
    font-size: 14px;
    height: 14px;
    font-family: var(--font2);
}

.footer_contacts a:hover{
    text-decoration: underline;
}

.links{
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 112px;
    gap: 8px;
}

.connect{
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 112px;
    gap: 8px;
}

.cprt{
    color: #000;
    opacity: 30%;
    width: 1200px;
    margin: 0 auto;
    font-family: var(--font2);
    font-size: 14px;
    padding: 20px 16px 24px 16px;
}

.ext_join_btn{
    display: none;
}

.ext_join_btn_lower{
    display: none;
}


@media screen and (max-width: 1200px){
    .home_page{
        width: 390px;
    }
    
    nav{
        width: 366px !important;
        padding: 0 8px 0 12px;
        height: 68px !important;
        margin-top: 4px !important;
    }

    #logo_div{
        width: 100px !important;
    }

    nav img{
        width: 22px !important;
        height: 22px !important;
    }

    nav h4{
        font-size: 20px !important;
    }

    .join_waitlist_btn{
        width: 137px;
        height: 36px;
        font-size: 12px;
        padding: 12px;
    }

    .nav_links{
        display: none;
    }

    .hero_section_wrapper{
        background: linear-gradient(to bottom, rgba(251, 210, 190, 0) 12%, rgba(251, 210, 190, 0.5) 59%, rgba(250, 221, 189, 0.5) 100%);
        background-color: #f1eff3;
        width: 366px;
        border-radius: 12px;
        margin: 0 auto;
    }

    .hero_section{
        width: 100%;
        display: block;
        height: 884px;
        padding: 0 20px;
        margin: 0 auto;
        background-image: url("../app/assets/mobile_hero_blur_1.svg"),  url("../app/assets/mobile_hero_blur_2.svg");
        background-position:center bottom, center bottom;
        border-radius: 12px;
        background-blend-mode:soft-light;
        background-repeat: no-repeat;
    }

    .hero_text{
        padding-top: 71px;
    }

    .hero_text h4{
        font-size: 14px;
    }

    .hero_text h2{
        padding-top: 16px;
        font-size: 32px !important;
    }

    .hero_text h5{
        padding-top: 16px;
        font-size: 16px;
        line-height: 135%;
    }

    .input-container {
        border-radius: 7px;
        padding: 0px 12px;
        background-color: #fff;
        width: 326px;
        margin-top: 20px;
        margin-left: 0px;
        height: 46px;
        font-size: 16px;
    }
    
    .input-container input {
        font-size: 16px;
    }
    
    .input-container input::placeholder {
        font-size: 16px !important;
    }
    
    .input-container .country-code {
        font-size: 16px;
        color: #332D3C;
        margin-right: 8px;
    }

    .input-container .send-button {
        display: none;
    }

    .ext_join_btn{
        display: flex;
        flex-direction: row;
        gap: 8px;
        background-color: rgba(255,118,118,0.2);
        width: 326px;
        height: 44px;
        justify-content: center;
        border-radius: 7px;
        align-items: center;
        margin-top: 8px;
        padding: 12px;
        color: #FF7676;
    }
    
    .ext_join_btn img {
        width: 20px;
        height: 20px;
    }

    .hero_text h6{
        font-size: 14px;
        padding-top: 8px;
        height: 19px;
    }

    .hero_text p{
        display: none;
    }

    .hero_phone{
        height: 618px;
        width: auto;
        margin: 50px auto 0;
    }
    
    .scroll_div{
        height: 48px;
        aspect-ratio: 1;
        border-radius: 50%;
        margin: 96px auto 0;
        padding: 15px 18px;
    }
    
    .details{
        margin: 0 auto;
        width: 366px;
        padding-bottom: 96px;
        background-color: transparent;
        background-image: url("../app//assets/Intersect_mobile.png");
        background-size: 100% auto;
        background-position: center top;
    }
    
    .details h3{
        padding-top: 97px;
        font-size: 30px;
        line-height: 115%;
        letter-spacing: -1%;
        text-align: center;
    }
    
    .details_container{
        margin: 24px 23px 0;
        gap: 20px;
        width: 320px;
        display: block;
    }
    
    .details_left{
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 320px;
    }
    
    .details_box{
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 15px;
        border-radius: 10px;
        height: 102px;
    }
    
    .details_box h6{
        padding-top: 10px;
        font-size: 16px;
        font-weight: 600;
    }
    
    .details_box p{
        font-size: 16px;
    }
    
    .details_box img{
        width: 24px;
    }
    
    .details_right{
        margin-top: 20px;
        width: 320px;
        padding: 0;
    }
    
    .details_right img{
        width: 320px;
        aspect-ratio: 1;
    }
    
    .carousel{
        display: block;
        flex-direction: row;
        align-items: center;
        height: 700px;
        justify-content: space-between;
        max-width: 326px;
        margin: 0 auto;
        background-image: none;
    }
    
    .hear_cust{
        margin-left: 0px;
        font-size: 16px;
        color: #332D3C;
        padding-top: 80px;
        width: 228px;
        text-align: start;
        padding-bottom: 64px;
    }
    
    .notes{
        height: 744px;
        background-color: white;
        border-radius: 16px;
        width: 366px;
        display: block;
    }
    
    .footer{
        padding-top: 120px;
        font-family: var(--font2);
    }
    
    .footer_features{
        width: 366px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .footer_features img{
        width: 24px;
        margin: 16px auto;
    }
    
    .footer_features h3{
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        font-family: var(--font2);
    }
    
    .footer_features p{
        text-align: center;
        font-size: 14px;
        font-family: var(--font2);
    }
    
    .footer_final{
        width: 366px;
        height: 601px;
        margin: 80px auto 0;
        padding: 20px 20px 0 20px;
        border-radius: 12px;
        background-image: url("../app//assets/moblie_footer_blur.svg"), url("../app//assets/moblie_footer_text.svg");
        background-position: center bottom, center bottom;
        background-repeat: no-repeat, no-repeat;
    }

    .footer_info{
        display: flex;
        flex-direction: column;
    }
    
    .footer_join h3{
        width: 300px;
        line-height: 95%;
    }
    
    #in_join_btn_lower{
        width: 326px;
        height: 46px;
        border-bottom: 0.5px solid white;
    }
    
    #in_join_btn_lower button{
        display: none;
    }
    
    #in_join_btn_lower input{
        background-color: transparent;
        outline: none;
        width: 393px;
        height: 32px;
        font-size: 16px;
        font-weight: 10;
        font-family: var(--font2);
    }
    
    #in_join_btn_lower input::placeholder{
        opacity: 30%;
    }

    #in_join_btn_lower span{
        display: block;
        font-size: 16px;
    }

    .ext_join_btn_lower {
        display: flex;
        flex-direction: row;
        gap: 8px;
        background-color: white;
        width: 326px;
        height: 44px;
        justify-content: center;
        border-radius: 7px;
        align-items: center;
        margin-top: 12px;
        padding: 12px;
        color: black;
        font-size: 16px;
        font-family: var(--font2);
    }

    .ext_join_btn_lower img{
        width: 20px;
        aspect-ratio: 1;
        margin-bottom: 4px;
    }
    
    .footer_join input:focus{
        outline: none;
        box-shadow: none;
    }
    
    .footer_contacts{
        display: flex;
        flex-direction: row;
        margin-top: 32px;
        margin-left: 4px;
        gap: 89px;
    }
    
    .footer_contacts h6{
        font-size: 12px;
        height: 12px;
        opacity: 70%;
    }
    
    .footer_contacts a{
        font-size: 14px;
        height: 14px;
        font-family: var(--font2);
    }
    
    .footer_contacts a:hover{
        text-decoration: underline;
    }
    
    .links{
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 133px;
        gap: 12px;
    }
    
    .connect{
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 133px;
        gap: 12px;
    }
    
    .cprt{
        opacity: 100%;
        width: 366px;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-family: var(--font2);
        font-size: 14px;
        padding: 16px 0 20px;
    }

    #cprt_date{
        opacity: 30%;
    }
}