.left_div{
    width: 387px;
    height: 520px;
}

.note_img{
    width: 387px;
    height: 520px;
    border-radius: 12px 0 0 12px;
}

.left_nav{
    display: none;
}

.notes_cont{
    height: fit-content;
}

.dot_nav_left{
    width: 371px;
    left: 8px;
}

.dot_nav_left div{
    width: 110px;
}

@media screen and (max-width: 1200px){
    .left_div{
        width: 366px;
        height: 336px;
        margin: 0 auto;
    }

    .note_cont{
        width: 90%;
        margin: 0 auto;
    }

    .note_img{
        width: 366px;
        height: 280px;
        border-radius: 8px;
        object-fit: cover;
    }

    .left_nav{
        display: flex;
        height: 80px;
        padding-left: 12px;
    }

    .dot_nav_left{
        bottom: unset;
        width: 350px;
        top: 69px;
        left: 8px;
        justify-content: center;
        gap: 12px;
    }
    
    .dot_nav_left div{
        width: 103px;
    }

    .dot_nav_left button{
        width: 103px;
    }

    .dot_nav_left p{
        width: 103px;
    }
}