.note_img{
    width: 960px !important;
    height: auto !important;
}

.notes{
    margin: 0 auto;
    height: auto;
    padding: 144px 0;
}

.note_cont{
    margin: 0 auto;
    height: 480px;
    width: fit-content;
}

.dot_nav{
    width: 960px;
    height: 44px;
    margin: 16px auto 0;
    font-size: 16px;
    padding: 0 8px;
    font-weight: 600;
}

@media screen and (max-width: 1200px){
    .notes_sect{
        width: 390px;
    }

    .note_img{
        width: 342px !important;
        height: 480px !important;
        margin: 0 auto;
    }

    .notes_cont{
        width: 366px;
        margin: 0 auto;
    }

    .notes{
        padding: 12px 0;
    }

    .dot_nav{
        width: 366px;
        height: 224px;
        display: flex;
        flex-direction: column;
        padding-bottom: 12px 0;
        margin: 0;
        text-align: start;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }

    .dot_nav div{
        height: 44px;
    }

    .dot_nav button{
        width: 326px;
    }
}