:root {
    --font1: "libre-caslon-text", sans-serif;
    --font2: "figtree", sans-serif;
}

.verify_section{
    width: 957px;
    height: 520px;
    border: solid 1px #000;
    border-radius: 12px;
    position: relative;
}

.close-btn{
    position: absolute;
    right: 24px;
    top: 22px;
}

.right_section{
    height: 520px;
    width: 570px;
    padding-left: 24px;
    padding-top: 21px;
    position: relative;
}

.right_section h3{
    font-family: var(--font2);
    font-size: 16px;
    font-weight: 600;
    width: 130px;
}

.right_section h2{
    font-family: var(--font1);
    font-size: 32px;
    margin-top: 40px;
    line-height: 115%;
}

.cont_btn{
    background-color: #E57283;
    padding: 8px 14px;
    border-radius: 5px;
    color: white;
    position: absolute;
    bottom: 24px;
}

@media screen and (max-width: 1200px){
    .verify_section{
        width: 366px;
        display: block;
        position: relative;
        margin: 0 auto;
        border: none;
    }

    .close-btn{
        display: none;
    }

    .right_section{
        width: 366px;
        margin: 0 auto;
        padding: 20px 12px;
    }

    .right_section h3{
        font-size: 16px;
    }

    .right_section h2{
        font-size: 32px;
    }

    .edit_phone{
        font-size: 15px;
    }

    .left_section{
        height: fit-content;
        width: 366px;
        margin: 0 auto;
    }

    .right_section p{
        font-size: 14px;
    }

    .cont_btn{
        padding: 12px 16px;
        display: flex;
        justify-content: center;
        color: white;
        position: absolute;
        bottom: 34px;
        width: 342px;
    }
}