:root {
    --font1: "libre-caslon-text", sans-serif;
    --font2: "figtree", sans-serif;
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #f5c1c1;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #fdf8f8;
    width: 35vw;
    margin-top: 3vh;
}

.input-container input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 1.2vw;
    color: #333;
    background: none;
    padding: 0 10px;
    font-size: 2vw;
}

.input-container input::placeholder {
    color: #ccc;
}

.input-container .country-code {
    font-size: 2vw;
    color: #333;
    margin-right: 5px;
}

.input-container .send-button {
    background: none;
    border: none;
    cursor: pointer;
}

.input-container .send-button img {
    width: 20px;
    height: 20px;
}

.right_section{
    margin: 3vw;
}

.right_section h3{
    font-family: var(--font2);
    font-size: 1.3vw;
}

.right_section h2{
    font-family: var(--font1);
    font-size: 5vw;
    padding-top: 7vh;
    line-height: 1;
}

.right_section p{
    font-size: 1vw;
    padding-top: 2vh;
    font-family: var(--font2);
}

.cont_btn{
    background-color: #E57283;
    padding: 8px 14px;
    border-radius: 5px;
    color: white;
    position: absolute;
    bottom: 2vh;
}